@use "variables.scss";

.header {
    background-color: variables.$color1;
    padding: 10px;
    text-align: center;
    
    &__container {
        display: flex;
        justify-content: space-between;
    }

    &__logo {
        width: 50px;
    }

    &__nav {
        display: flex;
        gap: 20px;
        align-items: center;

        &__item {
            font-size: 20px;
            letter-spacing: 1.5;

            a:hover {
                color: variables.$color2;
            }
        }
    }

    &__button {
        background-color: variables.$color1;
        padding: 8px 12px;
        border: 2px solid variables.$color4;
        border-radius: 5px;
        letter-spacing: 1.5;
        font-size: 18px;
        text-transform: uppercase;

        a {
            color: variables.$color4;
        }

        a:hover {
            color: variables.$color2;
        }

        &:hover {
            border: 2px solid variables.$color2;
        }
    }

    &__home {
        height: 550px;
        background-image: url("../images/club_logo2.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
}